.system {
  color: grey;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.styles.chat {
  display: block;
}

.username {
  color: black;
}

.othername {
  color: #6c2e8b;
}

.myChat {
  margin-bottom: 0.7em;

  .myChatFrom {
    font-size: 14px;
  }
}

.chatContent {
  color: black;
}

.myChatToAll {
  // background-color: #6c2e8b;
}

.myChatToGroup {
  color: #502eb8;
}

.myChatToWhisper {
  color: grey;
}

.otherChat {
  margin-bottom: 0.7em;

  .otherChatFrom {
    font-size: 14px;
    cursor: pointer;
  }

  .userInfo {
    color: black;
  }
}

.otherChatToAll {
  color: rgb(69, 21, 94);
}

.otherChatToGroup {
  color: #321c74;
}

.otherChatToWhisper {
  color: rgb(68, 68, 68);
}
